**/__pycache__/
**/.ipynb_checkpoints
**/TAGS
**/dist-newstyle/
01-colors/deep-imaginer/models/
01-colors/experiment-post-impressionism/img/
01-colors/color-ner/colorModel.jsonl
01-colors/color-ner/colorModel/
01-colors/color-ner/old/
01-colors/color-ner/xkcdPats.jsonl
01-colors/data/
.direnv/
.shake/
dest/
**/model.json
templates/*.html
