[submodule "dissertation-prospectus"]
	path = dissertation-prospectus
	url = https://github.com/JonathanReeve/dissertation-prospectus.git
[submodule "04-colors/color-word-analyzer"]
	path = 04-colors/color-word-analyzer
	url = https://github.com/JonathanReeve/color-word-analyzer.git
[submodule "templates/tufte-css"]
	path = templates/tufte-css
	url = https://github.com/edwardtufte/tufte-css
[submodule "04-colors/includes/MathJax"]
	path = 04-colors/includes/MathJax
	url = https://github.com/mathjax/MathJax.git
[submodule "04-colors/custom-ngrams-search"]
	path = 04-colors/custom-ngrams-search
	url = https://github.com/JonathanReeve/custom-ngrams-search.git
