[submodule "dissertation-prospectus"]
	path = dissertation-prospectus
	url = https://github.com/JonathanReeve/dissertation-prospectus.git
[submodule "assets/tufte-css"]
	path = assets/tufte-css
	url = https://github.com/edwardtufte/tufte-css.git
[submodule "assets/MathJax"]
	path = assets/MathJax
	url = https://github.com/mathjax/MathJax.git
[submodule "04-colors/color-word-analyzer"]
	path = 03-colors/color-word-analyzer
	url = https://github.com/JonathanReeve/color-word-analyzer.git
[submodule "04-colors/custom-ngrams-search"]
	path = 03-colors/custom-ngrams-search
	url = https://github.com/JonathanReeve/custom-ngrams-search.git
[submodule "04-shapes/count-objects"]
	path = 04-shapes/count-objects
	url = https://github.com/JonathanReeve/count-objects.git
[submodule "05-image/description-detection"]
	path = 05-image/description-detection
	url = https://github.com/JonathanReeve/description-detection.git
